[include fluidd.cfg]
[include macros.cfg]
[include fluidd.cfg]

[include macros.cfg]
[include timelapse.cfg]
#[include btt_sfs_2.0.cfg]
[include adxl.cfg]

[include KAMP_Settings.cfg]

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0
restart_method: command

[virtual_sdcard]
path: /home/aali/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[display_status]
[pause_resume]
[exclude_object]
[idle_timeout]
timeout: 99999999
[stepper_x]
step_pin: PD7
dir_pin: !PC5
enable_pin: !PD6
microsteps: 16
rotation_distance: 40    
endstop_pin: ^PC2
position_endstop: 0
position_max: 235
homing_speed: 50
 
[stepper_y]
step_pin: PC6
dir_pin: !PC7
enable_pin: !PD6
microsteps: 16
rotation_distance: 40 
endstop_pin: ^PC3
position_endstop: 0
position_max: 235
homing_speed: 50
 
[stepper_z]
step_pin: PB3
dir_pin: PB2
enable_pin: !PA5
microsteps: 16
rotation_distance: 8  
endstop_pin:probe:z_virtual_endstop
position_max: 250
position_min:-1
 
[extruder]
step_pin: PB1
dir_pin: !PB0
enable_pin: !PD6
microsteps: 16
rotation_distance: 33.683 
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PD5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA7
min_temp: 0
max_temp: 250
pressure_advance: 0.08 #0.18 #measured from tower factor 0.005 height 36
max_extrude_cross_section: 5
 
[heater_bed]
heater_pin: PD4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA6
# tuned for stock hardware with 50 degree Celsius target
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: -1
max_temp: 130
 
[fan]
pin: PB4
 
[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[display]
lcd_type: st7920
cs_pin: PA3
sclk_pin: PA1
sid_pin: PC1
encoder_pins: ^PD2, ^PD3
click_pin: ^!PC0
 
[bed_screws]
screw1: 36, 66
screw2: 36, 196
screw3: 204, 196
screw4: 204, 66

[bltouch]
sensor_pin: ^PC4
control_pin: PA4
x_offset: -44
y_offset: -7
#z_offset: 3.3      
sample_retract_dist: 8.0
pin_move_time: 0.4
stow_on_each_sample: False  
probe_with_touch_mode: True 

[firmware_retraction]
retract_length: 5
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 60
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 40
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[bed_mesh]
speed: 50
#   The speed (in mm/s) of non-probing moves during the
#   calibration. The default is 50.
horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#mesh_radius:
#   Defines the radius of the mesh to probe for round beds.  Note that the
#   radius is relative to the coordinate specified by the mesh_origin option.
#   This parameter must be provided for round beds and omitted for rectangular
#   beds.
#mesh_origin:
#   Defines the center x,y coordinate of the mesh for round beds.  This
#   coordinate is relative to the probe's location.  It may be useful
#   to adjust the mesh_origin in an effort to maximize the size of the
#   mesh radius.  Default is 0,0.  This parameter must be omitted for
#   rectangular beds.
mesh_min: 25, 25
#   Defines the minimum x,y coodinate of the mesh for rectangular beds.  This
#   coordinate is relative to the probe's location. This will be the first
#   point probed, nearest to the origin. This parameter must be provided for
#   rectangular beds.
mesh_max: 191, 191
#   Defines the maximum x,y coordinate of the mesh for rectangular beds.
#   Adheres to the same principle as mesh_min, however this will be the
#   furthest point probed from the bed's origin. This parameter must be
#   provided for rectangular beds.
probe_count: 5, 5
#   For rectangular beds, this is a comma separate pair of integer
#   values (X,Y) defining the number of points to probe along each axis.
#   A single value is also valid, in which case that value will be applied
#   to both axes.  Default is 3,3.
#round_probe_count: 5
#   For round beds, this integer value defines the maximum number of
#   points to probe along each axis. This value must be an odd number.
#   Default is 5.
#fade_start: 1.0
#   The gcode z position in which to start phasing out z-adjustment
#   when fade is enabled.  Default is 1.0.
#fade_end: 0.0
#   The gcode z position in which phasing out completes.  When set
#   to a value below fade_start, fade is disabled. It should be
#   noted that fade may add unwanted scaling along the z-axis of a
#   print.  If a user wishes to enable fade, a value of 10.0 is
#   recommended. Default is 0.0, which disables fade.
#fade_target:
#   The z position in which fade should converge. When this value is set
#   to a non-zero value it must be within the range of z-values in the mesh.
#   Users that wish to converge to the z homing position should set this to 0.
#   Default is the average z value of the mesh.
#split_delta_z: .025
#   The amount of Z difference (in mm) along a move that will
#   trigger a split. Default is .025.
#move_check_distance: 5.0
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
mesh_pps: 2,2
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
#algorithm: lagrange
#   The interpolation algorithm to use. May be either "lagrange"
#   or "bicubic". This option will not affect 3x3 grids, which
#   are forced to use lagrange sampling.  Default is lagrange.
#bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.
#relative_reference_index:
#   A point index in the mesh to reference all z values to. Enabling
#   this parameter produces a mesh relative to the probed z position
#   at the provided index.
 
[safe_z_home]
home_xy_position: 162, 125
speed: 80.0
z_hop: 10.0
z_hop_speed: 10.0

[gcode_macro G29]
gcode:
  BED_MESH_CALIBRATE
  SAVE_CONFIG

[include moonraker_obico_macros.cfg]
#[include shell_command.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 30.662
#*# pid_ki = 2.350
#*# pid_kd = 100.035
#*#
#*# [bltouch]
#*# z_offset = 2.915
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.207500, -0.082500, -0.050000, -0.007500, -0.000000
#*# 	  -0.185000, -0.130000, -0.095000, -0.077500, -0.052500
#*# 	  -0.170000, -0.127500, -0.077500, -0.037500, -0.045000
#*# 	  -0.152500, -0.095000, -0.040000, 0.015000, -0.037500
#*# 	  -0.152500, -0.122500, -0.042500, -0.000000, -0.005000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 50.271
#*# max_x = 180.711
#*# min_y = 52.917
#*# max_y = 178.037
